@Main("Home") {
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>808-123-4567</td>
    </tbody>
    <tbody>
      <tr>
        <td>Jane</td>
        <td>Smith</td>
        <td>808-123-4567</td>
    </tbody>
    <tbody>
      <tr>
        <td>Joe</td>
        <td>Jones</td>
        <td>808-123-4567</td>
    </tbody>
  </table>
</div>
}
