@(contactForm: Form[views.formdata.ContactFormData])

 @import helper._ 
 @import bootstrap3._ 
 
 @Main("Home") {
    @form(routes.Application.postContact(), 'class -> "form-horizontal") {
        <input type="hidden"
                name="@contactForm("id").name"
                id="@contactForm("id").id"
                value="@contactForm("id").value">


    @text(contactForm("firstName"), 
           label="First",
           placeholder="First Name",
           help="Please enter your first name." )
    @text(contactForm("lastName"),
           label="Last",
           placeholder="Last Name",
           help="Your Last Name.")
    @text(contactForm("telephone"),
           label="Phone",
           placeholder="Telephone",
           help="Your Phone Number.")

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">Add</button>
  </div>
</div>
    } 
}

